@font-face {
    font-family: 'title';
    src: url(/src/fonts/northern\ army.otf);
}

body {
    /* background-color: #b3d9e3; */
    background-image: url(/src/images/sonar-background.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title{
    font-family: 'title';
    font-size: 4rem;
    color: white;
    margin-bottom: 20px;
}

.turn-cont,
.info-cont,
#turn,
#info {
    font-family: 'title';
    font-size: 1.5rem;
    color: white;
    margin-bottom: 5px;
}

.display-name,
.player-pieces-title {
    font-family: 'title';
    font-size: 1.5rem;
    color: white;
}

#gameboard-cont {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.board-complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.block {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.player-pieces-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.options-cont {
    width: 500px;
    height: 60px;
    margin: 10px 0;
    border: 1px solid black;
    background-color: yellow;
    display: flex;
    align-items: center;
}


.destroyer-preview{
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

.destroyer {
    background-color: brown;
}

.submarine{
    background-color: green;
}

.cruiser {
    background-color: purple;
}

.battleship {
    background-color: orange;
}

.carrier {
    background-color: blue;
}

.hover {
    background-color: grey;
}

/* #computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: pink;
} */

.boom {
    background-color: red !important;
}

.empty {
    background-color: grey !important;
}

.button-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}